*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3e6f3;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list-nav ul{
    display: flex;
}

.header-list-nav ul li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

.header-list-nav ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}

.header-list-nav ul a:hover,
.header-list-nav ul a.active{
    color: #93951d;
    content:"";
}

.header-logo img{
    width: 40px;
    height: 40px;
}

.header-list-icon a{
    color: #1a1a1a;
    padding-left:20px;
    transition: 0.3s ease;
}

.header-list-icon a:hover{
    color: #93951d;
}

.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #93951d;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url(images/background2.jpg);
    height: 100vh;
    width: 100%;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
}

#hero h4{
    padding-bottom: 15px;
    font-size: 40px;
}

#hero h2{
    font-size: 70px;
}
#hero h1{
    color: #086e67;
    font-size: 70px;
}

#hero button{
    background-color: transparent;
    background-image: url(images/123.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 100px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: #05403c;
    padding: 14px 65px 14px 65px;
}

#features{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#features .f-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid#cce7d0;
    margin: 15px 0;
    transition: box-shadow 0.3s;
}

#features .f-box:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#features .f-box img{
    width: 100%;
    margin-bottom: 10px;
}

#features .f-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

.product-section .pro-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
}

.product-section h1,
.product-section p{
    text-align: center;
}

.product-section .product-cart{
    width: 280px;
    border: 1px solid #aba9a9;
    padding: 13px;
    
    margin-bottom: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: box-shadow 0.2;
}

.product-section .product-cart:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product-section .product-cart img{
    width: 100%;
    border-radius: 25px;
}

.product-section .product-cart span{
    color: #969696;
    font-weight: 500;
    line-height: 30px;
}

.product-section .product-cart h4{
    font-size: 18px;
    color: black;
}

.product-section .product-cart .stars{
    color: #e6ae2c;
    padding: 6px 0;
}

.product-section .product-cart .price{
    color: #088178;
    /*padding: 4px 0;*/
}
.product-section .product-cart .buy-icon{
    color: #088178;
    background-color: #c7e9e75e;
    padding: 15px;
    position: absolute;
    border-radius: 50px;
    right: 10px;
    bottom: 10px;

}

#offer-banner{
    background-image: url(images/banners/paper-bag-8557551_1280.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#offer-banner h4{
    color: #eaebf0;
}

#offer-banner h2{
    color: #eaebf0;
    padding: 20px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600px;
    padding: 15px 30px;
    color: #000;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    transition: 0.2s;
}

#banners{
    margin: 0 60px;
}

#banners h2,h4,span{
    color: rgb(51, 62, 97);
}

#banners .big-banners{
    display: flex;
    align-items: center;
    justify-content: center;
}

#banners .big-banners div{
    min-width: 572px;
    margin: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    background-size: cover;
    backdrop-filter: blur(8%);
}

#banners .big-banners-1{
    background-image:url(images/banners/b01.jpg);
}
#banners .big-banners-2{
    background-image:url(images/banners/b02.jpg);
}
#banners .small-banners-1{
    background-image:url(images/banners/b03.jpg);
}
#banners .small-banners-2{
    background-image:url(images/banners/b04.jpg);
}
#banners .small-banners-3{
    background-image:url(images/banners/b05.jpg);
}

#banners .big-banners button{
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s ease;
}

#banners .big-banners div:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}

#banners .small-banners{
    display: flex;
    align-items: center;
    justify-content: center;
}

#banners .small-banners div{
    min-width: 370px;
    height: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    background-size: cover;
}

#banners .small-banners h2{
    font-size: 25px;
}

#banners .small-banners h5{
    color:rgb(1, 1, 15);
}

#contact{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #05403c;
    padding: 20px 80px;
}

#contact h4, h6{
    display: grid;
    grid-template-rows: auto auto;
    /*flex-direction: row;*/
    align-items:flex-start;
    color: #fff;
}

#contact h4{
    grid-row: 1;
}
#contact h6{
    grid-row: 2;
}

input[type="text"] {
    width: 40%; /* adjust the width to your liking */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  button.normal {
    width: 20%; /* adjust the width to your liking */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="text"] + button.normal {
    margin-left: 5px; /* adjust the margin to your liking */
  }
  
  input[type="text"]:focus + button.normal {
    background-color: #3e8e41; /* change the button background color on input focus */
  }

  #footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 75px;
    background-color: #ececec;
  }
  .contact img{
    width: 50px;
    height: 50px;
}

  #footer p, #footer a{
    text-decoration: none;
    color: rgb(109, 109, 109);
  }

  #footer a:hover{
    color: #088178;
  }

  #footer .about a{
    display: block;
    padding: 8px 0;
  }

  #footer .myaccount a{
    display: block;
    padding: 8px 0;
  }

  #footer .download img{
    border: 1px solid#08817969;
    border-radius: 7px;
  }